
<div>
  <button *ngIf="!isConnected" (click)="connectWebSocket()">Connect</button>
  <button *ngIf="isConnected" (click)="disconnectWebSocket()">Disconnect</button>
</div>

<hr>

<div *ngIf="isConnected">
  <div>
    <div class="input-container">
      <input type="text" id="urlInput" [(ngModel)]="urlInput" placeholder="np. https://google.com">
      <button (click)="openUrl()" [disabled]="!urlInput">Open</button>
    </div>

    <div class="button-container">
      <button (click)="sendBtn('volume_up')">🔊</button>
      <button (click)="sendBtn('volume_down')">🔉</button>
      <button (click)="scrollPage('up')">🔼</button>
      <button (click)="scrollPage('down')">🔽</button>
      <button (click)="sendBtn('exit_fullscreen')">ESC</button>
      <p></p>
      <button (click)="shutdownConfirmation()">Shutdown</button>
    </div>
  </div>

  <div class="screenshot-container">
    <img
      *ngIf="screenshotData"
      [src]="'data:image/png;base64,' + screenshotData"
      alt="Screenshot"
      class="screenshot-image"
      (click)="handleScreenshotClick($event)"
    >
    <p *ngIf="!screenshotData">Waiting for screenshot</p>
  </div>
</div>

<div *ngIf="!isConnected">
  <p>Connect first</p>
</div>
